.book-card{
    height: 400px;
    width: 300px;
    background-color: var(--background-secondary);
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.book-card-cover{
    height: 45%;
}

.book-card-info{
    height: 50%;
    width: 100%;
    margin: 0;
}

.book-card-title{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3rem;
}

.book-card-author{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
}

.book-card-description{
    width: 100%;
    max-height: 70%;
    font-size: .75rem;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.book-card-loan-button {
    pointer-events: auto !important; /* Ensure button is clickable */
    z-index: 2; /* Ensure it appears above other elements */
}
/*  keep*/
/* .book-card-loan-button {
    width: 90%;
    height: 2.5rem;
    border: none;
    border-radius: 12px;
    /* transition: all 0.3s ease; */
/* } */ */

/* 
.book-card-loan-button.available {
    background-color: var(--secondary);
}

.book-card-loan-button.unavailable {
    background-color: #CB4C4E;
}

.book-card-loan-button.checkout:hover {
    cursor: pointer;
    background-color: var(--background-secondary);
    border: 2px solid var(--secondary) !important;
}

.book-card-loan-button.checkin:hover {
    cursor: pointer;
    background-color: var(--background-secondary);
    border: 2px solid #CB4C4E !important;
} */
/*  */
/* .book-card-loan-button{
    width: 90%;
    height: 2.5rem;
    border: none;
    border-radius: 12px;
} */

.available {
    background-color: var(--secondary);
}

.unavailable{
    background-color: #cB4c4e;
}

.checkout:hover{
    cursor: pointer;
    background-color: var(--background-secondary);
    border: 2px solid var(--secondary);
}

.checkin:hover{
    cursor: pointer;
    background-color: var(--background-secondary);
    border: 2px solid #cB4c4e;
}

